<select-picker label="Projection" value="projectionType" options="projections" commit-changes="changeProjection"></select-picker>
<button ng-click="setAsMain()" ng-class="{ 'disabled' : isMainCamera }">Set As Main</button>
<div ng-show="projectionType.id==1">
    <h3>Perspective</h3>
    <number-picker label="Field of View" value="fov" commit-changes="saveProjection"></number-picker>
    <number-picker label="Near plane" value="near" commit-changes="saveProjection"></number-picker>
    <number-picker label="Far plane" value="far" commit-changes="saveProjection"></number-picker>
</div>
<div ng-show="projectionType.id==2">
        <h3>Lens</h3>
        <number-picker label="Focal length" value="focalLength" commit-changes="saveLens"></number-picker>
        <number-picker label="Frame size" value="frameSize" commit-changes="saveLens"></number-picker>
        <number-picker label="Near plane" value="near" commit-changes="saveLens"></number-picker>
        <number-picker label="Far plane" value="far" commit-changes="saveLens"></number-picker>
</div>

<div class="bg2-camera-thumb">
    <img ng-src="{{ cameraThumb }}"></div>
</div>