<div class="bg2-form-field">
    <label class="bg2-width-30 bg2-text-left">{{ label }}</label>
    <div class="bg2-color-picker-sample bg2-width-20" ng-style="preview"></div>
    <div class="bg2-width-60 bg2-color-picker-sliders">
        <label class="bg2-width-10">R</label>
        <rzslider class="bg2-width-80" rz-slider-model="value[0]" rz-slider-options="options"></rzslider>
        <label class="bg2-width-10">G</label>
        <rzslider class="bg2-width-80" rz-slider-model="value[1]" rz-slider-options="options"></rzslider>
        <label class="bg2-width-10">B</label>
        <rzslider class="bg2-width-80" rz-slider-model="value[2]" rz-slider-options="options"></rzslider>
        <label class="bg2-width-10">A</label>
        <rzslider class="bg2-width-80" rz-slider-model="value[3]" rz-slider-options="options"></rzslider>
    </div>
</div>