<h1>Node</h1>
<div ng-show="selection.length">
    <div class="bg2-widget-panel">
        <string-picker label="Node name" value="nodeName" commit-changes="setNodeName"></string-picker>
    </div>
    <h2>Components <button ng-click="addComponent()" class="bg2-pull-right">Add Component</button></h2>
    <div class="bg2-widget-panel" ng-repeat="ui in components" ng-show="ui.componentName">
        <h2>{{ ui.componentName }}<button ng-click="removeComponent(ui)" class="bg2-pull-right">Remove</button></h2>
        <component-ui component-data="ui"></component-ui>
    </div>
    <p ng-show="unknownComponents.length">{{ unknownComponents.length }} unknown components found.</p>
</div>
