<texture-picker value="posX" label="Positive X"></texture-picker>
<texture-picker value="negX" label="Negative X"></texture-picker>
<texture-picker value="posY" label="Positive Y"></texture-picker>
<texture-picker value="negY" label="Negative Y"></texture-picker>
<texture-picker value="posZ" label="Positive Z"></texture-picker>
<texture-picker value="negZ" label="Negative Z"></texture-picker>
<p>Note: all the cubemap images must be the same size</p>
<button ng-click="save()">Load Cubemap</button>