<div class="bg2-form-field">
    <label for="renderPath">Render Path:</label>
    <select ng-options="item as item.label for item in renderPaths track by item.id" ng-model="renderPath"></select>
</div>
<div class="bg2-widget-panel" ng-show="showDeferredSettings()">
    <h4>Deferred renderer settings</h4>
    <p class="bg2-message-error" ng-show="error">{{ error }}</p>
    <p class="bg2-message-warning" ng-show="warning">{{ warning }}</p>
    <div class="bg2-form-field">
        <input type="checkbox" id="antialiasing" ng-model="antialiasing">
        <label for="antialiasing">Antialiasing</label>
    </div>
    <div class="bg2-form-field">
        <label class="bg2-width-60" for="raytracerQuality">Raytracer quality:</label>
        <select ng-options="item as item.label for item in raytracerQualities track by item.id" ng-model="raytracerQuality"></select>
    </div>
    <div class="bg2-form-field">
        <label class="bg2-width-60" for="raytracerScale">Raytracer scale:</label>
        <select ng-options="item as item.label for item in raytracerScaleOptions track by item.id" ng-model="raytracerScale"></select>
    </div>
    <div class="bg2-form-field">
        <input type="checkbox" id="ssao" ng-model="ssao">
        <label for="ssao">Screen Space Ambient Occlusion</label>
    </div>
    <div class="bg2-form-field">
        <label class="bg2-width-60" for="ssaoQuality">SSAO Quality</label>
        <select ng-options="item as item.label for item in ssaoQualities track by item.id" ng-model="ssaoQuality" ng-disabled="!ssao"></select>
    </div>
    <div class="bg2-form-field">
        <label class="bg2-width-60" for="ssaoBlur">SSAO Blur</label>
        <select ng-options="item as item.label for item in ssaoBlurs track by item.id" ng-model="ssaoBlur" ng-disabled="!ssao"></select>
    </div>
    <div class="bg2-form-field">
        <label class="bg2-width-60" for="ssaoRadius">SSAO Radius</label>
        <input type="number" class="bg2-width-20" ng-model="ssaoRadius" ng-disabled="!ssao">
    </div>
    <div class="bg2-form-field">
        <label class="bg2-width-60" for="ssaoRadius">SSAO Max Distance</label>
        <input type="number" class="bg2-width-20" ng-model="ssaoMaxDistance" ng-disabled="!ssao">
    </div>
</div>
<div class="bg2-widget-panel">
    <h4>Shadows</h4>
    <select-picker label="Type" value="shadowType" options="shadowTypes"></select-picker>
    <select-picker label="Quality" value="shadowQuality" options="shadowQualities"></select-picker>
</div>