<div class="bg2-form-field">
    <label class="bg2-width-30">Offset</label>
    <input class="bg2-width-15" type="number" step="0.01" ng-model="offsetX">
    <input class="bg2-width-15" type="number" step="0.01" ng-model="offsetY">
    <input class="bg2-width-15" type="number" step="0.01" ng-model="offsetZ">
</div>
<div class="bg2-form-field">
    <label class="bg2-width-30">Rotation</label>
    <input class="bg2-width-15" type="number" step="0.5" ng-model="rotationX">
    <input class="bg2-width-15" type="number" step="0.5" ng-model="rotationY">
    <input class="bg2-width-15" type="number" step="0.5" ng-model="rotationZ">
</div>