<div class="bg2-header">
    <i class="bg2-icon bg2-library-inspector"></i>
    <h1 scroll-glue-right="true">
        <span>{{ libraryName }}</span>
        <button>Load</button>
    </h1>
</div>
<div class="bg2-navigator">
    <ul scroll-glue-right="true">
        <li ng-repeat="item in navigator">
            <a ng-hide="$first" ng-click="enterNode(item)">{{ item.name }}</a>
            <a ng-show="$first" ng-click="enterNode(item)"><i class="bg2-icon bg2-navigator-root"></i></a>
            <i class="bg2-icon bg2-navigator-separator"></i>
        </li>
    </ul>
</div>
<ul class="bg2-library-container">
    <li ng-repeat="item in currentNode.children" ng-class="{ 'bg2-selected' : item.selected }">
        <h2 ng-dblclick="enterNode(item)" ng-click="selectNode(item,$event)">
            <i class="bg2-icon {{ getIconClass(item) }}"></i>
            <span>{{ item.name }}</span>
        </h2>
    </li>
</ul>
<div class="bg2-actions">
    <button title="Add node" ng-click="addNode()"><i class="bg2-icon bg2-add"></i></button>
    <button title="Remove node" ng-click="removeNode()"><i class="bg2-icon bg2-remove"></i></button>
    <button title="Copy" ng-click="copySelection()"><i class="bg2-icon bg2-copy"></i></button>
    <button title="Cut" ng-click="cutSelection()"><i class="bg2-icon bg2-cut"></i></button>
    <button title="Paste" ng-click="pasteSelection()"><i class="bg2-icon bg2-paste"></i></button>
</div>