<div class="bg2-library-mode-{{ mode }}">
    <div class="bg2-header" ng-show="mode!='read'">
        <i class="bg2-icon bg2-library-inspector"></i>
        <h1 scroll-glue-right="true">
            <span title="{{ libraryName }}" ng-click="revealLibrary()">{{ libraryName }}</span>
            <button ng-click="loadLibrary()">Load</button>
        </h1>
    </div>
    <div class="bg2-navigator">
        <ul scroll-glue-right="true">
            <li ng-repeat="item in navigator">
                <a ng-hide="$first" ng-click="enterNode(item)">{{ item.name }}</a>
                <a ng-show="$first" ng-click="enterNode(item)"><i class="bg2-icon bg2-navigator-root"></i></a>
                <i class="bg2-icon bg2-navigator-separator"></i>
            </li>
        </ul>
    </div>
    <ul class="bg2-library-container" ng-click="deselectAll()">
        <li ng-repeat="item in currentNode.children" ng-mouseover="onItemEnter(item,$event)" ng-mouseleave="onItemExit($event)" ng-class="{ 'bg2-selected' : item.selected }" drag-drop drag-item="item" on-drag="onDrag" on-drag-start="onDragStart" draggable="true">
            <h2 ng-dblclick="enterNode(item)" ng-click="selectNode(item,$event)">
                <i class="bg2-icon {{ getIconClass(item) }}"></i>
                <span>{{ item.name }}</span>
            </h2>
        </li>
    </ul>
    <div class="bg2-actions" ng-show="mode!='read'">
        <button title="Add node" ng-click="addNode($event)"><i class="bg2-icon bg2-add"></i></button>
        <button title="Remove node" ng-click="removeNode($event)"><i class="bg2-icon bg2-remove"></i></button>
        <button title="Copy" ng-click="copySelection()"><i class="bg2-icon bg2-copy"></i></button>
        <button title="Cut" ng-click="cutSelection()"><i class="bg2-icon bg2-cut"></i></button>
        <button title="Paste" ng-click="paste()"><i class="bg2-icon bg2-paste"></i><span class="bg2-item-counter" ng-show="clipboardContent>0">{{ clipboardContent }}</span></button>
        
    </div>
</div>
<div class="bg2-icon-preview" ng-style="iconPreviewStyle" ng-show="iconPreviewUrl"><img ng-src="{{ iconPreviewUrl }}" alt="icon preview"/></div>