<select-picker label="Type" value="type" options="lightTypes" commit-changes="onCommitChanges"></select-picker>
<bool-picker label="Enabled" value="enabled" commit-changes="onCommitChanges"></bool-picker>
<color-picker label="Ambient" value="ambient" commit-changes="onCommitChanges" ng-hide="pbrMode"></color-picker>
<color-picker label="Diffuse" value="diffuse" commit-changes="onCommitChanges" ng-hide="pbrMode"></color-picker>
<color-picker label="Color" value="diffuse" commit-changes="onCommitChanges" ng-show="pbrMode"></color-picker>
<color-picker label="Specular" value="specular" commit-changes="onCommitChanges" ng-hide="pbrMode"></color-picker>
<slider-picker ng-show="pbrMode" label="Intensity" value="intensity"  min="0" max="10" commit-changes="onCommitChanges"></slider-picker>

<number-picker ng-hide="showDirectional" label="Cutoff distance" value="cutoffDistance" commit-changes="onCommitChanges"></number-picker>

<h4 ng-hide="showDirectional">Attenuation:</h4>
<slider-picker ng-hide="showDirectional" label="Constant" value="constantAttenuation" min="0" max="4" commit-changes="onCommitChanges"></slider-picker>
<slider-picker ng-hide="showDirectional" label="Linear" value="linearAttenuation" min="0" max="4" commit-changes="onCommitChanges"></slider-picker>
<slider-picker ng-hide="showDirectional" label="Quadratic" value="quadraticAttenuation"  min="0" max="4"commit-changes="onCommitChanges"></slider-picker>

<h4 ng-hide="showPoint">Shadows:</h4>
<bool-picker ng-hide="showPoint" label="Cast shadows" value="castShadows" commit-changes="onCommitChanges"></bool-picker>
<slider-picker ng-hide="showPoint" label="Strenght" value="shadowStrength" commit-changes="onCommitChanges"></slider-picker>

<h4 ng-show="showSpot">Spot:</h4>
<slider-picker ng-show="showSpot" label="Cutoff" value="spotCutoff" commit-changes="onCommitChanges" min="0" max="90"></slider-picker>
<slider-picker ng-show="showSpot" label="Exponent" value="spotExponent" commit-changes="onCommitChanges" min="0" max="90"></slider-picker>