<h1>Material editor</h1>
<h4>Color</h4>
<div class="bg2-widget-panel">
    <color-picker label="Diffuse" value="diffuseColor"></color-picker>
    <color-picker label="Specular" value="specularColor"></color-picker>
</div>
<h4>Shininess</h4>
<div class="bg2-widget-panel">
    <div class="bg2-form-field">
        <label class="bg2-width-30">Amount</label>
        <rzslider class="bg2-width-60" rz-slider-model="slidertest.value" rz-slider-options="slidertest.options"></rzslider>
    </div>
</div>
<h4>Light emission</h4>
<div class="bg2-widget-panel">
</div>
<h4>Texture properties</h4>
<div class="bg2-widget-panel">
</div>
<h4>Reflection</h4>
<div class="bg2-widget-panel">
</div>
<h4>Shadows</h4>
<div class="bg2-widget-panel">
</div>
<h4>Other</h4>
<div class="bg2-widget-panel">
</div>