<h4>Constraints</h4>
<number-picker label="Min. distance" value="minDistance" commit-changes="onCommitChanges"></number-picker>
<number-picker label="Max. distance" value="maxDistance" commit-changes="onCommitChanges"></number-picker>
<number-picker label="Min. pitch" value="minPitch" commit-changes="onCommimtChanges"></number-picker>
<number-picker label="Max. pitch" value="maxPitch" commit-changes="onCommitChanges"></number-picker>
<number-picker label="Min. X" value="minX" commit-changes="onCommitChanges"></number-picker>
<number-picker label="Max. X" value="maxX" commit-changes="onCommitChanges"></number-picker>
<number-picker label="Min. Y" value="minY" commit-changes="onCommitChanges"></number-picker>
<number-picker label="Max. Y" value="maxY" commit-changes="onCommitChanges"></number-picker>
<number-picker label="Min. Z" value="minZ" commit-changes="onCommitChanges"></number-picker>
<number-picker label="Max. Z" value="maxZ" commit-changes="onCommitChanges"></number-picker>

<h4>Gizmo</h4>
<bool-picker label="Show limits" value="showLimits" commit-changes="updateGizmo"></bool-picker>
<color-picker label="Limits Color" value="gizmoColor" commit-changes="updateGizmo"></color-picker>
