<string-picker label="Text" value="text" commit-changes=""></string-picker>
<select-picker label="Font" value="font" options="fontOptions"></select-picker>
<number-picker label="Size" value="size"></number-picker>
<select-picker label="Align" value="align" options="alignOptions"></select-picker>
<string-picker label="Text color" value="textColor"></string-picker>
<string-picker label="Background color" value="backgroundColor"></string-picker>
<bool-picker label="Bold" value="bold"></bool-picker>
<bool-picker label="Italic" value="italic"></bool-picker>
<bool-picker label="Double sided" value="doubleSided"></bool-picker>
<vector-picker label="Rectangle size" value="rectSize" increment="0.1" commit-changes=""></vector-picker>
<vector-picker label="Texture size" value="textureSize"></vector-picker>
