<div class="bg2-form-field">
    <label class="bg2-width-30">{{ label }}</label>
    <input type="text" ng-model="x" ng-show="value.length>0" ng-keydown="keyDown('x',$event)" ng-keyup="keyUp('x',$event)" ng-blur="commit()">
    <input type="text" ng-model="y" ng-show="value.length>1" ng-keydown="keyDown('y',$event)" ng-keyup="keyUp('y',$event)" ng-blur="commit()">
    <input type="text" ng-model="z" ng-show="value.length>2" ng-keydown="keyDown('z',$event)" ng-keyup="keyUp('z',$event)" ng-blur="commit()">
    <input type="text" ng-model="w" ng-show="value.length>3" ng-keydown="keyDown('w',$event)" ng-keyup="keyUp('w',$event)" ng-blur="commit()">
</div>