<div class="bg2-form-field">
    <label class="bg2-width-30">{{ label }}</label>
    <input type="number" step="0.0001" ng-model="value[0]" ng-show="value.length>0" ng-keydown="keyDown(0,$event)" ng-keyup="commit()">
    <input type="number" step="0.0001" ng-model="value[1]" ng-show="value.length>1" ng-keydown="keyDown(1,$event)" ng-keyup="commit()">
    <input type="number" step="0.0001" ng-model="value[2]" ng-show="value.length>2" ng-keydown="keyDown(2,$event)" ng-keyup="commit()">
    <input type="number" step="0.0001" ng-model="value[3]" ng-show="value.length>3" ng-keydown="keyDown(3,$event)" ng-keyup="commit()">
</div>