<div class="bg2-form-field">
    <string-picker label="Identifier" value="voxelId" commit-changes="setIdentifier"></string-picker>
    <number-picker label="Side size" value="sideSize" commit-changes="setSideSize"></number-picker>
    <select-picker label="Width" value="width" options="sizeOptions" commit-changes="setWidth"></select-picker>
    <select-picker label="Height" value="height" options="sizeOptions" commit-changes="setHeight"></select-picker>
    <select-picker label="Depth" value="depth" options="sizeOptions" commit-changes="setDepth"></select-picker>
    <vector-picker label="Offset" value="offset" commit-changes="setOffset"></vector-picker>
</div>