<h1>Raytracer settings</h1>
<h4>Draft quality</h4>
<div class="bg2-widget-panel">
    <vector-picker label="Texture size" value="sizeDraft" increment="1" commit-changes="commitChanges"></vector-picker>
    <number-picker label="Samples" value="samplesDraft" increment="1" commit-changes="commitChanges"></number-picker>
    <number-picker label="Blur" value="blurDraft" increment="1" commit-changes="commitChanges"></number-picker>
</div>

<h4>Medium quality</h4>
<div class="bg2-widget-panel">
    <vector-picker label="Texture size" value="sizeMid" increment="1" commit-changes="commitChanges"></vector-picker>
    <number-picker label="Samples" value="samplesMid" increment="1" commit-changes="commitChanges"></number-picker>
    <number-picker label="Blur" value="blurMid" increment="1" commit-changes="commitChanges"></number-picker>
</div>

<h4>High quality</h4>
<div class="bg2-widget-panel">
    <vector-picker label="Texture size" value="sizeHigh" increment="1" commit-changes="commitChanges"></vector-picker>
    <number-picker label="Samples" value="samplesHigh" increment="1" commit-changes="commitChanges"></number-picker>
    <number-picker label="Blur" value="blurHigh" increment="1" commit-changes="commitChanges"></number-picker>
</div>