
.bg2-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 100% 100%;
}

.bg2-open-file {
    background-image: url(../icons/folder-open.png);
}

.bg2-gizmo-select {
    background-image: url(../icons/gizmo-select.png);
}

.bg2-gizmo-translate {
    background-image: url(../icons/gizmo-translate.png);
}

.bg2-gizmo-rotate {
    background-image: url(../icons/gizmo-rotate.png);
}

.bg2-gizmo-scale {
    background-image: url(../icons/gizmo-scale.png);
}

.bg2-gizmo-transform {
    background-image: url(../icons/gizmo-transform.png);
}

.bg2-toobar-separator {
    width: 8px;
    background-image: url(../icons/toolbar-separator.png);
}

.bg2-treeview-expanded {
    background-image: url(../icons/treeview-triangle-expanded.png);
}

.bg2-treeview-collapsed {
    background-image: url(../icons/treeview-triangle-collapsed.png);
}

.bg2-undo {
    background-image: url(../icons/undo_2.png);
}

.bg2-redo {
    background-image: url(../icons/redo_2.png);
    background-position: 0px -2px;
}

.bg2-scene-inspector {
    background-image: url(../icons/scene_graph_2.png);
}

.bg2-plist-inspector {
    background-image: url(../icons/plist-settings.png);
}