
.bg2-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 100% 100%;
}

.bg2-open-file {
    background-image: url(../icons/folder-open.png);
}

.bg2-gizmo-select {
    background-image: url(../icons/gizmo-select.png);
}

.bg2-gizmo-translate {
    background-image: url(../icons/gizmo-translate.png);
}

.bg2-gizmo-rotate {
    background-image: url(../icons/gizmo-rotate.png);
}

.bg2-gizmo-scale {
    background-image: url(../icons/gizmo-scale.png);
}

.bg2-gizmo-transform {
    background-image: url(../icons/gizmo-transform.png);
}

.bg2-toobar-separator {
    width: 8px;
    background-image: url(../icons/toolbar-separator.png);
}

.bg2-treeview-expanded {
    background-image: url(../icons/treeview-triangle-expanded.png);
}

.bg2-treeview-collapsed {
    background-image: url(../icons/treeview-triangle-collapsed.png);
}

.bg2-undo {
    background-image: url(../icons/undo_2.png);
}

.bg2-redo {
    background-image: url(../icons/redo_2.png);
    background-position: 0px -2px;
}

.bg2-scene-inspector {
    background-image: url(../icons/scene_graph_2.png);
}

.bg2-plist-inspector {
    background-image: url(../icons/plist-settings.png);
}

.bg2-library-inspector {
    background-image: url(../icons/library_editor.png);   
}

.bg2-play {
    background-image: url(../icons/play.png);
}

.bg2-pause {
    background-image: url(../icons/pause.png);
}

.bg2-stop {
    background-image: url(../icons/stop.png);
}

.bg2-navigator-separator {
    background-image: url(../icons/navigator-separator.png);
}

.bg2-navigator-root {
    background-image: url(../icons/new_document.png);
}

.bg2-add {
    background-image: url(../icons/add.png);
}

.bg2-remove {
    background-image: url(../icons/remove.png);
}

.bg2-cut {
    background-image: url(../icons/cut.png);
}

.bg2-copy {
    background-image: url(../icons/copy.png);
}

.bg2-paste {
    background-image: url(../icons/paste.png);
}

.bg2-library-item-group {
    background-image: url(../icons/folder-open.png);
}

.bg2-library-item-material {
    background-image: url(../icons/material.png);
}

.bg2-library-item-model {
    background-image: url(../icons/object.png);
}
