table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #999999;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #444444;
}

table .bg2-icon-button {
    background-color: transparent;
    color: transparent;
    outline: none;
    padding: 1px;
}

table .bg2-icon-button:hover {
    background-color: transparent;
    color: transparent;
    outline: none;
    padding: 0px;
}