scene-inspector {
    position: fixed;
    left: -1px;
    top: 36px;
    width: 250px;
    bottom: 29px;
    pointer-events: all;
    overflow: auto;
}

scene-inspector ul {
    padding-left: 13px;
    -webkit-margin-before: 0px;
}

scene-inspector li {
    list-style: none;
}

scene-inspector h1 {
    font-size: 12px;
    display: block;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.bg2-treeview-expanded, .bg2-treeview-collapsed {
    width: 13px;
    height: 13px;
    margin-right: 4px;
    margin-bottom: -2px;
}

.bg2-scene-editor-rightbar library-inspector {
    left: auto;
    right: 0px;
    width: 350px;
    top: 65px;
}

.bg2-library-mode-read .bg2-library-container {
    bottom: 0px;
    top: 33px;
}