toolbar {
    pointer-events: all;
    position: fixed;
    left: -1px;
    right: -1px;
    top: -1px;
}

toolbar ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 3px;
    margin-bottom: 0px;
}

toolbar li {
    display: inline;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 4px;
}
