@font-face {
    font-family: Muli;
    src: url(../fonts/Muli-Light.ttf);
}

html {
    font-family: Muli;
    font-size: 13px;
}

.noselect {
    user-select: none;
}

.bg2-widget {
    background-color: rgba(30,30,30,0.98);
    color: white;
    border: 1px solid #828282;
    box-sizing: border-box;
}

.bg2-selected {
    color: black;
    background-color: orange;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}