
.bg2-workspace {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    pointer-events: none;
}
    
.bg2-left-tabs {
    position: fixed;
    right: 0px;
    top: 36px;
    width: 350px;
    height: 30px;
}

.bg2-left-tabs ul {
    padding-left: 0px;
    margin-top: 6px;
}

.bg2-left-tabs li {
    display: inline;
    list-style: none;
    padding-left: 3px;
    padding-right: 3px;
}

.bg2-tab-bar a {
    padding: 6px;
}

.bg2-header {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

.bg2-header h1 {
    font-size: 17px;
    cursor: pointer;
}

.bg2-header i.bg2-icon {
    float: left;
    margin-right: 50x;
    cursor: pointer;
}