<div class="bg2-workspace">
    <toolbar></toolbar>
    <status-bar ng-hide="isLocked"></status-bar>
    
    <library-inspector></library-inspector>
    
    <dialog-view></dialog-view>
    <context-menu></context-menu>

    <!--
    <div class="bg2-widget bg2-left-tabs bg2-tab-bar" ng-init="currentTab=0; tabs=['PolyList']" ng-hide="isLocked">
        <ul>
            <li ng-repeat="item in tabs">
                <a ng-click="$parent.currentTab=$index" ng-class="{ 'bg2-selected' : $parent.currentTab==$index }">{{ item }}</a>
            </li>
        </ul>
    </div>
    <plist-editor ng-show="currentTab==0" ng-hide="isLocked"></plist-editor>
    -->
</div>